!!!
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Record Label
    != css :application, :media => 'screen'
    != js :app_header
  %body
    =yield
    != js :app_footer
    :javascript
      $(document).foundation();      
